* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  box-shadow: 0px 4px 3px -4px #000;
}

#menu a {
  background-color: #555;
  color: #fff;
  padding: 12px 35px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
}

#menu a:hover {
  background-color: #999;
}

/* NÃO ALTERE DAQUI PRA CIMA */
/* ESCREVA SEU CÓDIGO ABAIXO */

#layout{
  display: flex;
  width: 800px;
  height: 500px;
  background-color: #999;
  flex-direction: column;
}
.Div1{
  display: flex;
  background-color:rgb(147, 82, 175);
  flex: 2;
}
.Div2{
  display: flex;
  background-color:rgba(90, 19, 141, 0.884);
  flex: 1;
}
.Div11{
  display: flex;
  background-color: rgb(147, 82, 175);
  flex-direction: column;
  flex: 2;
}
.Div12{
  display: flex;
  background-color:rgba(205, 116, 243, 0.842);
  flex-direction: row;
  flex: 1;
}
.DivC{
  display: flex;
  background-color:rgba(222, 177, 241, 0.842);
  flex-direction: row;
  flex: 1;
}
.DivA{
  display: flex;
  background-color:mediumorchid;
  flex-direction: column;
  flex: 1;
}
#DivArtigo2{
  background-color:rgb(100, 45, 114);
}

#layout2{
  display: flex;
  width: 800px;
  height: 500px;
  background-color: #999;
  flex-direction: column;
}
.DivBty{
  display: flex;
  flex-direction: row;
  flex:1;
  background-color:rgb(252, 179, 190) ;
}
.DivFlor{
  display: flex;
  flex-direction: row;
  flex:2;
  background-color:pink;
}
.DivArv{
  display: flex;
  flex-direction: row;
  flex:1;
  background-color:rgba(245, 135, 190, 0.795) ;
}
#DivMenu{
  background-color:rgba(255, 39, 255, 0.753);
  flex:1;
}
#DivContent{
  background-color: rgb(255, 147, 255);
  flex:2;
  flex-direction:column;
}
#DivAd{
  background-color: pink;
  flex:1;
  flex-direction:column;
}
#DivMenu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 25px;
}
#DivMenu li {
  background-color:mediumvioletred;
  color: #fff;
  padding: 2px 6px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
  width: auto;
}
#DivContent p {
  font-size: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  width: 300px
  
}

#layout3{
  display: flex;
  width: 1000px;
  height: 700px;
  background-color: #ffffff;
  flex-direction: row;
  align-items: center;
}
.D1{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color:darkred;
  width: 250px;
  height: 200px;
}
.D2{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color:rgb(202, 36, 36);
  width: 250px;
  height: 250px;
}
.D3{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color:rgba(139, 0, 0, 0.589);
  width: 300px;
  height: 100px;
}
.D4{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color:rgb(167, 56, 56);
  width: 250px;
  height: 300px;
}
.D5{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color:rgba(161, 20, 20, 0.842);
  width: 250px;
  height: 500px;
}
.D6{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color:rgba(102, 2, 2, 0.904);
  width: 250px;
  height: 150px;
}
